vendor
node_modules
public/build
public/hot
storage/*.key
.env
.env.*
.phpunit.result.cache
.phpunit.cache
.idea
.vscode
.git
.gitignore
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db
